@{
    ViewData["Title"] = "About Queuing App";
}
<div class="text-center">
    <h1>
        <br>FULL STACK DEVELOPER(FSU600)<br>
        LAB DATA Containers and Cloud<br>
    </h1>
</div>


<pre>
         • Apartments 
         • Applicants
         • Requests
</pre>

<h4><pre>      Apartments        Applicants          Requests<br></pre></h4>
<pre>
        Id: Primary-Key             Id: Primary-Key             Id: Primary-Key
        Situation                   FirstName                   ApartmentId: foriegn-key
        Street                      LastName                    ApplicantId: foriegn-key
        Area                        Socialsecuritynumber
        City                        BirthDate
        Rooms                       PhoneNumber
        SquareMeters                EMail
        Rent                        Pets
        MoveInDate                  Smoke
        Floor                       Street   
        WholeFloor                  PostalCode
        PublishDate                 City
        Pets                        Country
        Smoke                       Introduction
        LandlordComments            MainEmployment
        Properties                  MainIncome
        RentInclude                 MainEmployer
        ImageUrl                    EmployerPhone
                                    WorkMunicipality
</pre>
