@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="img-thumbnail , text-center">
    <img src="~/Images/M1.jpg" width="1100" height="500" />
</div>
